<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NasaAPIBaseApiUrl" value="https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos"/>
		<add key="NasaAPIApiKey" value="cxIDqtWdnATkuqWH0tt0ZeoWnEQTTgV01HYLjMcO"/>
		<add key="LocalStorageRootPath" value="Images\"/>
		<add key="NasaAPIWebApi" value="http://localhost:62804/"/>
	</appSettings>
</configuration>